body{

font-family:system-ui;
background:#f3f4f6;
margin:0;

}

.app{

display:flex;
justify-content:center;
align-items:center;
min-height:100vh;

}

.login-card{

background:white;
padding:40px;
border-radius:20px;
box-shadow:0 8px 30px rgba(0,0,0,0.1);
text-align:center;

}

.logo{

width:80px;
margin-bottom:10px;

}

h1{

margin:10px 0;
font-weight:600;

}

.subtitle{

color:#777;
margin-top:20px;

}

input,textarea{

width:100%;
padding:10px;
margin:6px 0 12px 0;
border-radius:8px;
border:1px solid #ccc;

}

textarea{

height:90px;

}

button{

background:#4ca742;
color:white;
border:none;
padding:12px;
border-radius:8px;
width:100%;
font-weight:600;
cursor:pointer;

}

button:hover{

opacity:.9;

}

header{

text-align:center;

}

header img{

width:40px;

}

.check{

display:flex;
align-items:center;
gap:10px;

}
